@import "tailwindcss";


@custom-variant dark (&:where( .dark, .dark * ));

@theme {
      --color-primary-50:#eff6ff;
    --color-primary-100:#dbeafe;
    --color-primary-200:#bfdbfe;
    --color-primary-300:#93c5fd;
    --color-primary-400:#60a5fa;
    --color-primary-500:#3b82f6;
    --color-primary-600:#2563eb;
    --color-primary-700:#1d4ed8;
    --color-primary-800:#1e40af;
    --color-primary-900:#1e3a8a;


    --color-secondary-50:#f0fdf4;
    --color-secondary-100:#dcfce7;
    --color-secondary-200:#bbf7d0;
    --color-secondary-300:#86efac;
    --color-secondary-400:#4ade80;
    --color-secondary-500:#22c55e;
    --color-secondary-600:#16a34a;
    --color-secondary-700:#15803d;
    --color-secondary-800:#166534;
    --color-secondary-900:#14532d;

    --color-accent-50:#fdf4ff;
    --color-accent-100:#fae8ff;
    --color-accent-200:#f5d0fe;
    --color-accent-300:#f0abfc;
    --color-accent-400:#e879f9;
    --color-accent-500:#d946ef;
    --color-accent-600:#c026d3;
    --color-accent-700:#a21caf;
    --color-accent-800:#86198f;
    --color-accent-900:#701a75;

    --color-grey-15: #262625;
    --color-white-97: #f7f7f8;
    --color-white-95: #f1f1f3;
    --color-white-99: #fcfcfd;
    --font-dmSans: "DM Sans", sans-serif;

}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-dmSans text-grey-15 bg-white-97;
  }
}

@layer utilities {
  .container {
    @apply px-10 md:px-8 mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1130px] 2xl:max-w-[1380px];
  }
  button {
    @apply cursor-pointer block;
  }
  p {
    @apply text-sm md:text-base lg:text-lg leading-normal;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-balance leading-tight;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-2xl lg:text-[22px];
  }
  .navbar{
  @apply sm:hidden fixed top-0 left-0 bg-white dark:bg-gray-800 w-full h-screen flex flex-col items-center justify-center -translate-x-full transition-transform duration-500 z-40
}
.navbar.active{
  @apply translate-x-0
}
}

@layer components {
  .bg{
    @apply bg-linear-to-r from-blue-700 via-cyan-600 to-cyan-400
  }
  .play-btn {
    animation: 2s pulseAni ease infinite;
  }
  @keyframes pulseAni {
    0% {
      box-shadow: 0 0 0 white;
    }
    100% {
      box-shadow: 0 0 0 20px transparent;
    }
  }
}

#pants:checked ~ .check{
  @apply backdrop-opacity-100;
}